.container {
    display: flex;
   justify-content: center;
   background-color: #BC8F8F;
   
 }
 #height,
 #weight {
   width: 150px;
   height: 25px;
   margin-top: 30px;
   border-radius: 10px;
   
 }
 
 #weight-guide {
   margin-left: 75px;
   margin-top: 30px;
 }
 
 #results {
   margin-left: 75px;
   margin-top: 25px;
 }
 
 button {
   display:flex;
   cursor: pointer;
   width: 200px;
   height: 35px;
   margin-left: 60px;
   margin-top: 50px;
   background-color: #fff;
   padding: 1.5px 30px;
   border-radius: 10px;
   color: #212121;
   text-decoration: none;
   border: 2px solid #212121;
   font-size: 25px;  
 }
 button:hover {
   background-color: #BC8F8F;
 }
 
 