html {
    margin: 0;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
    border-radius: 25px;
    line-height: 100px; /* Adjust the line-height to vertically center the text */
    text-align: center; /* Center the text horizontally */
  }
  
  
  #green {
    background: green;
  }
  
  #red {
    background: red;
  }
  #blue {
    background: blue;
  }
  #purple {
    background: purple;
  }
  